<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="asciiFont" class="asciiPanel.AsciiFont">
        <constructor-arg index="0" value="cp437_16x16.png"/>
        <constructor-arg index="1" value="16"/>
        <constructor-arg index="2" value="16"/>
    </bean>

    <bean id="asciiPanel" class="asciiPanel.AsciiPanel">
        <property name="asciiFont" ref="asciiFont"/>
    </bean>
</beans>